.header {
	height: 150px;
	width: 100%;
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	&__logo{
		display: flex;
		justify-content: center;
		align-items: center;
		color:$dark-gray;
		font-size: 2rem;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-style: italic;
		p{
			padding-right: 1rem;

		}
	}
	&__ul{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		&-li{
			padding:0 1.2rem;
			&-links {
				display: inline-block;
				text-decoration: none;
				color: darken($secondary-clr,20%);
				font-size: .75rem;
				font-weight: 100;
				text-transform: uppercase;
				position: relative;
				transition: .3s ease color;
				&::after{
					content: "";
					position: absolute;
					bottom: -72px;
					left: 0;
					height: 4px;
					width: 0;
					background-color: white;
					transition: .3s ease width;
				}
				&.postureshirt::before,&.basket::before{
					content: "%";
					color: white;
					background: orange; 
					position: absolute;
					top: -1.4rem;
					right:-1rem;
					width: 25px;
					height: 25px;
					display: grid;
					place-items: center;
					font-size: .88rem;
					border-radius: 50%;
				}
				&.user,&.basket{
					font-size: 1.5rem;
					margin-top: -0.8rem;
				}
				&.basket::before{
					top:-0.8rem;
				}
				&:hover{
					color: $primary-clr;
				}
				&:hover::after{
					width: 100%;
				}
			}
		}
	}

}