.hero{
	&__wrapper{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		min-height: 700px;
	}
	&__content{
		padding:10rem 0;
		width: 50%;
		&-title {
			font-size: 3rem;
			color: whitesmoke;
			text-transform: uppercase;
		}
		&-text{
			color: white;
			line-height: 1.8;
			letter-spacing: 2px;
			font-size: 1rem;
			padding: 2rem 0;
		}
		&-btn{
			cursor: pointer;
			display: inline-block;
			padding:1.5rem 3rem;
			background: $primary-clr;
			color: white;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1rem;
			box-shadow: 8px 8px 0 #eeedec;
			opacity: 0.899;
			transition: .3s ease-in box-shadow, .4s ease-in opacity;
			&:focus,
			&:hover{
				box-shadow:none;
				opacity: 1;
			}
		}
	}
}