.hero{
	&__wrapper{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		min-height: 700px;
		@media(max-width:768px){
			background-position: 72%;
		}
	}
	&__content{
		padding:10rem 0;
		width: 50%;
		@media(max-width:768px){
			width: 100%;
		}
		.sale {
			display: inline-block;
			color: $accent;
			text-transform: uppercase;
			font-size: 1.2rem;
			font-weight: 100;
			padding-bottom: .5rem;
		}
		&-title {
			font-size: 3rem;
			color: whitesmoke;
			text-transform: uppercase;
		}
		&-text{
			color: white;
			line-height: 1.8;
			letter-spacing: 2px;
			font-size: 1rem;
			padding: 2rem 0;
		}
		&-btn{
			cursor: pointer;
			display: inline-block;
			padding:1.5rem 3rem;
			background: $primary-clr;
			color: white;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1rem;
			opacity: 1;
			transition: 300ms ease-in box-shadow, 250ms ease-in transform;
			&:focus,
			&:hover{
				@include hovered(-4px);
				opacity: 1;
			}
		}
	}
}