.mixitup{
	padding:.1rem 0;
	background-color: #e5e5e5;
}
.container{

	.mix {
		padding: 0;
		&-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
		&-li {
			position: relative;
			padding: .5rem 1rem .5rem 0;
			font-size: .899rem;
			text-transform: uppercase;
			cursor: pointer;
			&:focus,
			&:hover{
				opacity: 0.8;
			}
			&::after{
				content: '';
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 0;
				height: 4px;
				transform: scale(0);
				transform-origin: right;
				transition: transform 0.4s ease-in-out;
			}
			&.active{
				position: relative;
				color:darken($primary-clr, 25%);
				opacity: 1;
				&::after{
					content: '';
					position: absolute;
					bottom: -3px;
					left: 0;
					width: calc(100% - 1rem );
					transform: scale(1);
					transform-origin: left;
					height: 3px;
					background-color: darken($primary-clr, 10%);
				}
			}
		}
		&-item {
			cursor: pointer;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 2px;
			place-items: center;
			padding: 1rem 0;
			@include size(tablet){
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 4px;
			}
			li {
				transform-origin: top;
				transition: transform 0.3s ease, height 0.3s ease;
				background-color: white;
				padding:1rem 1rem 2rem 1rem;
				cursor: pointer;
				@include size(phone){
					padding:.5rem .5rem 1rem .5rem;
				}
				&.activated{
					overflow: hidden;
					transform: translateX(0) scale(1);
					width: 100%;
					height: auto;
					transition: box-shadow .3s ease, transform .3s ease;
					&:hover{
						box-shadow: 0 1px 6px rgba($secondary-clr, 0.5);
						transform: translateY(-8px);
						width: 100%;
					}
				}
				&.deleted{
					transform: translateX(-100px) scale(0);
					height: 0;
					padding: 0;

				}
				h3{
					color:#444;
					font-size: 1.2rem;
					padding:0.2rem 0;
				}
				p{
					padding: 0.2rem 0;
					color: #868686;
					b{
						color:orange;
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}
@keyframes main {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

