.posture{
	background-color: #e5e5e5;
	margin: 5rem 0;
	&__figure{
		position: relative;
		width: 100%;
		display: block;
		text-align: center;
		z-index: 1;
		&-img{
			max-width: 400px;
			width: 100%;
		
		}
		&-circle{
			cursor: pointer;
			position: absolute;
			top:6%;
			left:53%;
			color: white;
			display: grid;
			place-items: center;
			font-size: .75rem;
			width:30px;
			height: 30px;
			background: tomato;
			border-radius: 50%;
			border: 6px solid rgba(241, 32, 32, 0.322);
			z-index: 10;
			&.show{
				background: $primary-clr;
				border: 6px solid rgba($primary-clr, 0.322);
				&::after{
					background: $primary-clr;
				}
			}
			&:nth-of-type(2){
				top:23%;
				left:45%;
			}
			&:nth-of-type(3){
				top:36%;
				left:38%;
			}
			&:nth-of-type(4){
				top:48%;
				left:48%;

			}
			&:nth-of-type(5){
				top:78%;
				left:48%;

				
			}

			&::after{
				content: '';
				position: absolute;
				width:32px;
				height: 32px;
				background: tomato;
				border-radius: 50%;
				animation: pulse 2000ms infinite;
				z-index: -1;
			}
		}
	}
	&__content{
		position: relative;
		z-index: 14;
		h2{
			padding: 3rem 0 2rem 0;
		}
		&-infoText{
			position: absolute;
			top:8rem;
			left:1rem;
			max-width: 200px;
			line-height: 1.6;
			color:$secondary-clr;
			.tags{
				position: relative;
				cursor: pointer;
				display: grid;
				place-items: center;
				width: 52px;
				height: 52px;
				font-size: .75rem;
				border-radius: 50%;
				background-color: lighten($primary-clr, 30%);
				&:hover{
					background-color: lighten($primary-clr, 10%);
					&::after{
						background: $primary-clr;
						background: rgba($primary-clr,0.8);
						border-radius: 5px;
						bottom: -34px;
						color: #fff;
						content: attr(title);
						left: 48%;
						padding: 5px 15px;
						position: absolute;
						z-index: 98;
						width: 350px;
					}
					&::before{
						border: solid;
						border-color: $primary-clr transparent;
						border-width: 0 8px 8px 8px;
						bottom: -8px;
						content: "";
						left: 50%;
						position: absolute;
						z-index: 99;
					}
				}
			}
	
		}
		&-item{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			transform-origin: left;
			background: white;
			box-shadow: 5px 5px 24px #ccc;
			width: 300px;
			padding: 3rem 2rem;
			transform: scale(0);
			opacity: 0;
			z-index:1;
			border-radius: 15px;
			transition: .3s ease-in transform, .4s ease-in opacity;
			&.show{
				transform: scale(1);
				opacity: 1;
				z-index:1;
			}
			&.content-1{
				top:18%;
				left:58%;
			}
			&.content-2{
				top:32%;
				left:55%;
			}
			&.content-3{
				top:33%;
				left:12%;
			}
			&.content-4{
				top:50%;
				left:54%;
			}
			&.content-5{
				top:60%;
				left:12%;
			}
			h3{
				text-transform: uppercase;
				font-size: 1.1rem;
				color: #444;
				padding-bottom: .6rem;
			}
			p{
				font-size: .85rem;
				font-weight: 100;
				color: #444;
				padding-bottom: 1rem;
				line-height: 1.4;
			}
			.btn {
				display: inline-block;
				color:white;
				text-decoration: none;
				padding:.8rem 1.6rem;
				background: #444;
				box-shadow: 4px 4px 0 $primary-clr;
				transition: .3s ease-in box-shadow;
				&:hover{
					box-shadow: none;
				}
			}
		}
	}

}

@keyframes pulse {
	0% {
		transform: scale(0.75);
		opacity: 0.75;
	}
	100% {
		transform:scale(2);
		opacity: 0;
	}
}