@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$primary-clr: #83d0bd;
$secondary-clr: #868686;
$dark-gray: #444;
$accent: #f48400;

@mixin size($size) {
  @if $size == ph{
    @media (max-width: 768px) { @content; }
  } @else if $size == tbt {
    @media (min-width: 769px) { @content; }
  } @else if $size == dx {
    @media (min-width: 1200px) { @content; }
  } @else if $size == dx-lg {
    @media (min-width: 1800px) { @content; }
  }
}
@mixin hovered($Y) {
	box-shadow: 0 1px 6px rgba($secondary-clr, 0.4);
	transform: translateY($Y);
}
//example mixin
// .header-title {  
// 	font-size: 2rem;  
// 	@include size(ph) {    
// 		 font-size: 1rem; 
// 	}
// }


//globals
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height:100%;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	overflow-x:hidden;
}
.container{
	display: block;
	max-width: 1196px;
	padding:0 12px;
	margin: 0 auto;
	height: 100%;
}
ul{
	list-style: none;
}
img{
	max-width: 100%;
	height: auto;
}

sup, sub{
	font-size: 1rem;
	height: 100%;
}