.video{
	background-color: #e5e5e5;
	padding: 2rem 0;

	&__wrapper{
		position: relative;

		&-play{
			cursor: pointer;
			position: absolute;
			top:50%;
			left:50.7%;
			transform: translate(-50%, -50%);
			background-color: $primary-clr;
			width:180px;
			height: 180px;
			display: grid;
			place-items: center;
			font-size: 3rem;
			padding-left: 1rem;
			color: white;
			border-radius: 50%;
			border: 22px solid lighten($primary-clr, 10%);
			z-index: 0;
			&::after{
				content: '';
				position: absolute;
				top: -42px;
				left: -42px;
				width: 220px;
				height: 220px;
				background-color: rgba($primary-clr, 0.9);
				border-radius: 50%;
				z-index: -1;
				animation: pulse 2000ms ease-in infinite;
			}
		}
	}
	.dots{
		.dots-png{
			opacity: 0.4;
			margin-top: -0.2rem;
			z-index: 0;
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.75);
		opacity: 0.75;
	}
	100% {
		transform:scale(1.5);
		opacity: 0;
	}
}